.design {
    width: 100%;
    padding: 104px 0 50px;
    background-image: url("../images/background_image_design.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

.design::after {
    content: "";
    max-width: inherit;
    width: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.design__content {
    position: relative;
    z-index: 1;
}

.design__title {
    color: #FFFFFF;
}

.design__line {
    background-color: #ffffff; 
    margin:55px auto 0;
}

.design__info {
    color: #FFFFFF;
}

.design__btn {
    margin: 73px auto 0;
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

@media (max-width:1024px) {
    .design {
        padding: 96px 0 50px;
    }
    .design__btn {
        width: 318px;
        margin: 32px auto 0;
    }
}

@media (max-width:767px) {
    .design {
        padding: 46px 0 58px;
    }
    .design__line {
        margin: 46px auto 0;
    }
    .design__content>.design__info {
        margin: 16px 0 0;
    }
    .design__btn {
        margin: 66px auto 0;
        width: 100%;
    }
}










