.header {
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    z-index: 5;
}

.header__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    margin: 0 55px 0 0 ;
}

.header__menu-burger {
    display: none;
}

@media (max-width:767px){
    .header {
        height: 56px;
    }
    .header__logo{
    width: 42px;
    height: 22px;
    }
    .header__nav-link {
        display: none;
    }
    .header__menu-burger {
        display: inline-block;
    }
}








