@import url("header.css");
@import url("banner.css");
@import url("tabs.css");
@import url("awesome.css");
@import url("pricing.css");
@import url("design.css");
@import url("footer.css");
@import url("contact.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1510px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.content   {
    max-width: calc(1170px + 15px * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px ;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.line {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.info {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;  
    text-align: center;
}
