@import url("header.css");
@import url("banner.css");
@import url("social.css");
@import url("tabs.css");
@import url("awesome.css");
@import url("pricing.css");
@import url("customers.css");
@import url("design.css");
@import url("footer.css");
@import url("contact.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1510px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.content   {
    max-width: calc(1170px + 15px * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px ;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.line {
    width: 170px;
    height: 1px;
}

.info {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;  
    text-align: center;
    margin: 40px 0 0;
}

@media (max-width:1024px) {
    .content {
        max-width: calc(992px + 16px * 2);
        padding: 0 16px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .line {
        width: 142px;
        margin:46px auto 0;
    }
    .info {
        font-size: 14px;
        line-height: 16px;
        margin: 32px 0 0;
    }
}

@media  (max-width:767px) {
   .content {
        max-width: calc(288px + 16px * 2) ;
        padding: 0 16px;
    }
    .line {
        width: 134px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .info {
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        margin: 25px  0 0;
    }
}







